:root{
    --rows : 32;
    --columns : 75;
    box-sizing: border-box;
}
#bodys{
    background-color:white;
}
.grid-container{
    padding: 1vw;
    margin-right: 1vw;
    border-radius : 1vw;
    background-color:white;
    box-shadow: 1px 1px 9px lightgrey;
    width:100%;
}
.grid { 
    border-collapse: collapse;
    width:100%;
}
.grid td{
    --border:0.1px solid rgb(176, 241, 241);
    border:0.1px solid rgba(75, 231, 231, 0.322); 
    width:1fr ;
    height:1fr;
    padding:0;
}

.node{
    --width:100%;
    --height:100%;
    padding:0;
}
.visited-anim{
    animation: onvisit 0.5s;
    background-color:dodgerblue;
}
.visited{
    background-color:dodgerblue;
}
.shortest-path-anim{
    animation: onshortpath 0.2s;
    background-color:dodgerblue;
    background-image: linear-gradient(yellow,yellow);
    transition:background-size 0.5s ease;
    background-position:50% 50%;
}
.shortest-path{
    background-image: linear-gradient(yellow,yellow);
    background-color:dodgerblue;
}
.wall{
     background-image : linear-gradient(black,black) !important;
     border:0.1px solid black !important;
}
.end-node{
    background-image:linear-gradient(red,red) !important; 
    border: 0.1px solid red !important;
}
.start-node {
    background-image:linear-gradient(green,green) !important;
    border: 0.1px solid green !important;
}
@keyframes onshortpath{
    0%{
        background-size:0% 0%;
    }
    100%{
        background-size:100% 100%;
    }
}
@keyframes onvisit{
    0%{
        background-color:yellow;
    }
    100%{
        background-color:dodgerblue;
    }
}
.app{
    display:flex;
}
.content{
    display: flex;
    width:100%;
    margin-top:8vh;
    padding:0 1vw 1vw 1vw;
    height:auto;
}
.placeholder{
    width:40%;
    height:auto;
    padding:1vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 9px lightgrey;
}

@media only screen and (max-width:1200px){
    .content{
        flex-direction: column;
    }
    .placeholder{
        width:auto;
    }
}